* {
    box-sizing: border-box;
}

body {
    background-color: hsl(210, 46%, 95%);
    font-size: 13px;
    font-family: 'Manrope', sans-serif;
    color: hsl(214, 17%, 51%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2, h4 {
    color: hsl(217, 19%, 35%);
}

h4, p {
    margin: 0;
}

a {
    margin: auto;
}


.card {
    position: relative;
    display: flex;
    width: 700px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1) ;
    margin-bottom: 40px;
}

img.drawer-image {
    height: 100%;
    width: 40%;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.content {
    margin: 0 auto;
    width: 50%;
    padding: 20px;
}

.description > h2 {
    font-weight: 700;
    margin-top: 0;
}

.description > p {
    font-weight: 500;
}

img.avartar-image{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.footer {
    display: flex;
    width: 100%;
    padding-top: 10px;
}

.name-date {
    display: grid;
    padding: 0 15px;
    padding-top: 0.5em;
    margin: 0
}

.icon-share.opened {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: hsl(217, 19%, 35%);
}

.icon-share.opened > i {
    padding: 8px;
    color: white;
}


.share {
    display: none;
}

.share.popUp {
    width: 158px;
    height: 35px;
    border-radius: 7px;
    background-color: hsl(217, 19%, 35%);
    position: absolute;
    display: flex;
    right: -10px;
    bottom: 80px;
}

.share.popUp::after {
    position: absolute;
    left: 50%;
    content: "";
    bottom: -10px;
    border-top: 10px solid hsl(217, 19%, 35%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    transform: translateX(-50%);
}

.share.popUp > div {
    margin: auto;
    display: flex;
    font-size: 0.9em;
}

.share.popUp > div > p {
    padding: 7px;
    letter-spacing: 3px;
    font-size: 1em;
    margin: auto;
    color: #fff;
}

.mobile {
    display: none;
}

img.popUp-icon {
    height: 25px;
    width: 25px;
    padding: 5px;
    margin: auto;
}

.attribution {
    margin:0 auto;
    display: table;
}

@media screen and (max-width: 425px) {
    .card {
        display: grid;
        width: 250px;
        background-color: white;
        border-radius: 15px;
        margin-bottom: 5px;
    }

    img.drawer-image {
        height: 13em;
        width: 100%;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 0;
    }

    .content {
        width: calc(100% - 30px);
        font-size: 10px
    }

    .description > h2 {
        font-size: 1.5em;
        line-height: 1.2em;
    }

    img.avartar-image{
        height: 30px;
        width: 30px;
    }

    .footer {
        padding: 0.5em;
    }

    .footer.close {
        display: none;
    }

    .mobile {
        display: unset;
    }

    a#share-fa.icon-share.mobile {
        margin-left: 3em;
    }

    .share.popUp{
        position: unset;
        width: 100%;
        height: 50px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .share.popUp::after {
        display: none;
    }

    .share.popUp .icon-share {
        border-radius: 50%;
        background-color: hsla(0, 0%, 100%, 0.404);
    }
    
    .share.popUp .icon-share > i {
        padding: 5px;
        color: hsl(217, 19%, 35%);
    }

    .attribution {
        text-align: center;
        font-size: 1.5vh;
    }
}