body {
    width: 1440px;
    max-width: calc(100% - 20px);
    font-family: 'Inter', sans-serif;
    color: hsl(240, 38%, 20%);
    /* background: url(./images/pattern-bg.svg) right bottom no-repeat,
                url(./images/pattern-curve.svg) left bottom no-repeat
                /* url(./images/pattern-quotes.svg) left top no-repeat;  */
    height: 97vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p {
    font-weight: 300;
}

h4 {
    font-weight: 700;
}

p.quote {
    font-size: 2em;
}

p.role {
    color: hsl(240, 18%, 77%);
}

/* .background {
    position: absolute;
    display: flex;
    bottom: 0;
    width: 700px;
    max-width: 100%;
}

.background > img {
    width: 100%;
} */

.slide {
    display: none;
    animation: slide 2s  forwards;
}

@keyframes slide {
    0% {transform: translateX(900px);}
    100% {transform: translateX(0);}
}

.content {
    align-self: center;
    margin-bottom: 0;
    position: relative;
    left: 6vw;
    z-index: 10;
    min-width: 400px;
    max-width: 600px;
}

.avatar {
    width: 40%;
    padding: 2vw;
    padding-left: 0;
    min-width: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

img.avatar-image {
    width: 100%;
}

.controls {
    background-color: #fff;
    box-shadow: 0 0 10px #000;
    height: 35px;
    width: 70px;
    border-radius: 20px;
    position: absolute;
    top: calc(100% - 50px);
    text-align: center;
    align-items: center;
}

.controls > div {
    padding: 9px;
}

.footer {
    display: flex;
    align-items: center;
}

.role {
    padding-left: 10px;
}

.fas {
    position: absolute;
}

.fa-chevron-left {
    left: 0;
    padding-left: 7px;
}

.fa-chevron-right {
    right: 0;
    padding-right: 7px;
}

.attribution {
    margin-top: 10px;
}

@media screen and (max-width: 768px){
    .controls {
        top: calc(100% - 100px);
    }
}

@media screen and (max-width: 425px) {
    .slide {
        flex-direction: column-reverse;
    }

    .content {
        max-width: calc(100% - 50px);
        min-width: 0;
        left: 0;
    }

    p.quote {
        font-size: 1.2em;
        text-align: center;
    }

    .footer {
        flex-flow: column;
    }

    .role {
        margin: 0;
        padding: 3px;
    }

    .avatar {
        margin: auto;
        margin-top: 10vw;
        min-width: 220px;
    }

    .controls {
        top: 90%;
    }

    .name, .role {
        margin: 0;
    }

    .attribution {
        margin-top: 12px;
        font-size: 12px;
    }
}